/* # EXTERNAL STYLING */
.material-symbols-outlined {
	user-select: none;
}
.material-symbols-outlined {
	transition: font-variation-settings 0.5s var(--quick_easeout) 0s;
	font-variation-settings:
	'FILL' 1,
	'wght' 400,
	'GRAD' 0,
	'opsz' 48
}
.material-symbols-outlined.unfilled {
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 48
}


/* # GEN PURPOSE ROOT, HTML, and BODY STYLING */
* {
	box-sizing: border-box;
}
:root {
	--themeBlue: 46, 49, 146;
	--themeRed: 237, 28, 36;
	--quick_easeout: cubic-bezier(.12,.75,.50,1);
}
body {
	margin: 0;
}


/* # GENERAL PAGE CONTENT */
h1 {
	display: inline-block;
	margin: 0;

	line-height: 0;
}
button {
	position: relative;
	cursor: pointer;
}
	button .badge {
		position: absolute;
		bottom: -42%;
		right: -42%;
		z-index: 1;
		padding: 0.33rem;

		background-color: rgba(var(--themeRed, 237, 28, 36), 1);
		border-radius: 0.33rem;

		color: white;
		line-height: 100%;
	}